In [3]:
# preamble
import pandas as pd

In [16]:
df = pd.read_clipboard()

In [18]:
df

                   Item         Store  Price Per Unit
0           Raisin Bran          Aldi  $1.79      Box
1    FreshGround Turkey          Aldi  $3.29      NaN
2         Chicken Wings          Aldi  $5.45      Box
3        Chicken Thighs          Aldi  $2.68      Box
4      Bean Sprouts, 豆芽  Joe Randazzo  $0.59       lb
5         Spinach bunch  Joe Randazzo  $1.19    bunch
6                Garlic  Joe Randazzo  $0.49       lb
7             Pear Yali  Joe Randazzo  $0.30     each
8          Corn package  Joe Randazzo  $0.79       lb
9               Carrots  Joe Randazzo  $0.47       lb
10  Grapes Red Seedless  Joe Randazzo  $2.02       lb
11   Beans Chinese Long  Joe Randazzo  $2.95    bunch
12          Carrot mini  Joe Randazzo  $0.99      NaN
13      Oranges Cal Nav  Joe Randazzo  $2.69      bag
14                火锅羊肉          Way 1  $6.23      bag
15               A choy         Way 1  $1.99       lb
16                  红薯粉         Way 1  $2.29      bag
17                火锅牛肉片         Way 1  $9.23      bag
18                 花样鱼丸         Way 1  $5.89       lb
19              郫县豆瓣，袋装         Way 1  $2.49      bag

In [23]:
dfex = pd.DataFrame([], columns=['TYPE','CONTENT','PRIORITY','INDENT','AUTHOR', 'RESPONSIBLE', 'DATE', 'DATE_LANG', 'TIMEZONE'])

In [24]:
dfex

Empty DataFrame
Columns: [TYPE, CONTENT, PRIORITY, INDENT, AUTHOR, RESPONSIBLE, DATE, DATE_LANG, TIMEZONE]
Index: []

In [34]:
# obtain the stores
stores = df['Store'].value_counts().index.values

In [36]:
for store in stores:
    dfex

array(['Joe Randazzo', 'Way 1', 'Aldi'], dtype=object)